@model WebApp.Models.VwJJMAlreadyCompletedModel

@{
    Layout = "_BlankLayout";
}

<style>
    body {
        font-family: Hind,sans-serif;
    }

    .Reportcontainer {
        display: flex;
        justify-content: space-between;
    }

    .details-table {
        border-collapse: collapse;
        width: 100%;
        float: left;
    }

    .details-table th,
    .details-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        height:30px;
    }

    .details-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        width: 28%;
    }

    .details-table td {
        width: 40%;
    }

    .image-section {
        width: 33%;
        text-align: center;
        display: inline-block;
        float: right;
        margin-left: 20px;
    }

/*     img {
        width: 35%;
        height: auto;
    } */

    .image-section p {
        font-weight: bold;
        margin-top: 0;
    }

    .header {
        text-align: center;
        margin-bottom: 20px;
    }

    hr {
        border: none;
        border-top: 2px solid #ddd;
    }

    #setpdfimg {
        display:flex !important;
        justify-content:space-evenly;
    }

    #imgpdf {
        width: 25.4pc;
        position: relative;
        right: 12pc;
    }


    #SSimg{
        width: 7pc;
        position: relative;
        left: 12pc;
    }

    .footer {
        margin-top: 1130px;
    }

</style>

<body>
    <div class="header">
        <div id="setpdfimg">
            <img src="~/img/creda_black_logo_title.png" alt="Alternate Text" id="imgpdf"/>
            <img src="~/img/CREDA_SS.png" alt="img" id="SSimg" />
        </div>
    </div>
        <hr />
    </div>

    <div class="Reportcontainer">
        <!-- Details Table -->
        <table class="details-table">
            <tr>
                <th>Inspection ID</th>
                <td>@Model.Id</td>
                <td><strong>Image With Functionality</strong></td>
            </tr>
            <tr>
                <th>Inspected By</th>
                <td>@Model.UserName</td>
                <td rowspan="6"><img src="data:@Model.ImageWithFunctionalityType;base64,@Model.ImageWithFunctionality" alt="Image with Functionality" height="200px" width="300px" /></td>
            </tr>
            <tr>
                <th>District</th>
                <td>@Model.District</td>
                
            </tr>
            <tr>
                <th>Block</th>
                <td>@Model.Block</td>
 
            </tr>
            <tr>
                <th>Village</th>
                <td>@Model.Village</td>
                
            </tr>
            <tr>
                <th>Site</th>
                <td>@Model.Site</td>
            </tr>
            <tr>
                <th>Project Name</th>
                <td>@Model.Project</td>

            </tr>
            <tr>
                <th>Inspection Date</th>
                <td>@Model.InspectionDate.ToShortDateString()</td>
                <td><strong>Image With Complete System</strong></td>
            </tr>
            <tr>
                <th>System Name</th>
                <td>@Model.SystemName</td>
                <td rowspan="6"><img src="data:@Model.ImageWithCompleteSystemType;base64,@Model.ImageWithCompleteSystem" alt="Image with Complete System" height="200px" width="300px" /></td>
            </tr>
            <tr>
                <th>SI Name</th>
                <td>@Model.SIName</td>
            </tr>
            <tr>
                <th>System Working</th>
                <td>@(Model.IsSystemWorking ? "Yes" : "No")</td>
            </tr>
            <tr>
                <th>System Working Remark</th>
                <td>@Model.IsSystemWorkingRemark </td>
            </tr>
            <tr>
                <th>Pump Working Status</th>
                <td>@(Model.IsPumpWorking ? "Working" : "Not Working")</td>
            </tr>
            <tr>
                <th>Controller Working Status</th>
                <td>@(Model.IsControllerWorking ? "Working" : "Not Working")</td>
                
            </tr>
            <tr>
                <th>System Layout</th>
                <td>@Model.SystemLayout</td>
                <td><strong>Image With Mangpatra</strong></td>
            </tr>
            <tr>
                <th>Panel Make</th>
                <td>@Model.PanelMake</td>
                <td rowspan="7"><img src="data:@Model.ImageMangpatraType;base64,@Model.ImageMangpatra" alt="Image with Mangpatra" height="230px" width="300px" /></td>
            </tr>
            <tr>
                <th>Pipeline Working Status</th>
                <td>@(Model.IsPipelineWorking ? "Working" : "Not Working")</td>
            </tr>
            <tr>
                <th>OHT Working Status</th>
                <td>@(Model.IsOHTWorking ? "Working" : "Not Working")</td>
            </tr>
            <tr>
                <th>Total Depth (in meters)</th>
                <td>@Model.TotalDepth</td>
            </tr>
            <tr>
                <th>System Working Duration (in hours)</th>
                <td>@Model.SystemWorkingDuration</td>
            </tr>
            <tr>
                <th>Technical Fault Remark</th>
                <td>@Model.TechnicalFaultRemark</td>
            </tr>
            <tr>
                <th>Any Other Remarks</th>
                <td>@Model.AnyOtherRemarks</td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <hr />
        <p style="text-align: right; padding-right: 20px;"><strong>Report generated on:</strong> @DateTime.Now.ToString("dd-MM-yyyy")</p>
    </div>
</body>


