@model WebApp.Models.VwMMalreadycompletedModel
<style>
    .geo-tag-container {
        display: flex;
        align-items: center;
        max-width: 100%;
    }

    .geo-tag-text {
        max-width: calc(100% - 70px); /* Adjust based on button size */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

        .geo-tag-text:hover {
            overflow: auto;
            white-space: normal;
        }

    .copy-btn {
        margin-left: 10px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        border-radius: 4px;
        cursor: pointer;
    }

        .copy-btn:hover {
            background-color: #e1e1e1;
        }

    .copy-message {
        margin-top: 10px;
        color: green;
        font-size: 14px;
        display: none; /* Initially hide the message */
    }

    
    .image-modal {
        display: none;
        position: fixed;
        z-index: 1000;
        padding-top: 60px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 500px;
    }

    /* Add Animation */
    .modal-content, .close {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        z-index: 1300;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* Zoom Buttons */
    .zoom-btn {
        border-radius: 14px;
        position: inherit;
        bottom: 20px;
        right: 20px;
        color: black;
        font-size: 30px;
        padding: 10px 20px;
        background-color: lightgray;
        cursor: pointer;
    }

    #zoomIn {
        margin-right: 5px;
        right: 70px;
    }

    #zoomOut {
        right: 20px;
    }

    .clickable-image {
        border-radius: 14px;
        cursor: pointer;
        transition: transform 0.2s;
    }

        .clickable-image:hover {
            transform: scale(1.05);
        }

    .image-label {
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
    }

    #table th {
        font-weight: bold;
        width: 36%;
        vertical-align: top;
    }

    #table td {
        width: 70%;
    }

    .image-grid {
        margin-top: 20px;
    }

        .image-grid .col-md-4 {
            margin-bottom: 30px;
        }

        .image-grid img {
            width: 100%;
            height: 10pc;
        }


</style>

<div class="row justify-content-center mt-md-3">
    <div class="col-md-12">

        <form class="p-4 border rounded shadow-sm bg-light" style="width: 100%;">
            <div class="detail-report-btn">
                <h4> Mini Mast - Report </h4>
                <div class="form-group">
                    <button asp-action="MMAC" class="btn btn-primary" style="display:none!important"><img src="/img/Back_icon.png" alt="Alternate Text" class="back-icon">Back to List</button>
                    <button type="button" class="btn btn-primary" onclick="downloadMMPdfclicked(@Model.Id)"> 
                        <img src="~/img/Download_icon.png" alt="Alternate Text" class="download_icon" />Download as PDF
                    </button>
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-around">
                <div class="form-group ">
                    <table class="table table-bordered" id="table">
                        <tbody>
                            <tr>
                                <th>Inspection ID:</th>
                                <td>@Html.DisplayFor(model => model.Id)</td>
                            </tr>
                            <tr>
                                <th>Inspected By:</th>
                                <td>@Html.DisplayFor(model => model.User)</td>
                            </tr>
                            <tr>
                                <th>Inspection Date:</th>
                                <td>@Html.DisplayFor(model => model.InspectionDate)</td>
                            </tr>
                            <tr>
                                <th>District:</th>
                                <td>@Html.DisplayFor(model => model.District)</td>
                            </tr>
                            <tr>
                                <th>Block:</th>
                                <td>@Html.DisplayFor(model => model.Block)</td>
                            </tr>
                            <tr>
                                <th>Village:</th>
                                <td>@Html.DisplayFor(model => model.Village)</td>
                            </tr>
                            <tr>
                                <th>Site Name:</th>
                                <td>@Html.DisplayFor(model => model.Site)</td>
                            </tr>
                            <tr>
                                <th>Project Name:</th>
                                <td>@Html.DisplayFor(model => model.Project)</td>
                            </tr>
                          
                            <tr>
                                <th>SI Name:</th>
                                <td>@Html.DisplayFor(model => model.SIName)</td>
                            </tr>
                            
                            <tr>
                                <th>System Working:</th>
                                <td>
                                    @{
                                        if (Model.IsSystemWorking)
                                        {
                                            <span>Working</span>
                                        }
                                        else
                                        {
                                            <span>Not Working</span>
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Number Of Working Lights:</th>
                                <td>@Html.DisplayFor(model => model.NumberOfWorkingLights)</td>
                            </tr>
                            <tr>
                                <th>Number Of Non Working Lights:</th>
                                <td>@Html.DisplayFor(model => model.NumberOfNotWorkingLights)</td>
                            </tr>
                            <tr>
                                <th>System Working Hours:</th>
                                <td>@Html.DisplayFor(model => model.SystemWorkingHours)</td>
                            </tr>
                            @* <tr>
                                <th>Updated By:</th>
                                <td>@Html.DisplayFor(model => model.UpdatedBy)</td>
                            </tr>
                            <tr>
                                <th>Image GeoTag:</th>
                                <td>@Html.DisplayFor(model => model.ImageGeoTag)</td>
                            </tr> *@
                        </tbody>
                    </table>
                </div>
                <div class="form-group col-md-6">
                    <div class="image-grid">
                        <div class="row" id="set-img-row">
                            <!-- System Working Image -->
                            <div class="col-md-4 text-center">
                                <p class="image-label">Upload Image:</p>
                                @if (!string.IsNullOrEmpty(Model.UploadImage))
                                {
                                    <img class="clickable-image" width="100%" height="auto" src="data:@Model.UploadImageType;base64,@Model.UploadImage" />
                                }
                                else
                                {
                                    <p>No image available.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for displaying the image -->
                <div id="imageModal" class="image-modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="modalImage">
                    <div id="zoomIn" class="zoom-btn">+</div>
                    <div id="zoomOut" class="zoom-btn">-</div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function copyGeoTag(event, geoTagId, messageId) {
        // Prevent default behavior
        event.preventDefault();

        // Select the text from the appropriate span
        const geoTagText = document.getElementById(geoTagId).textContent;

        // Create a temporary input element
        const tempInput = document.createElement('input');
        document.body.appendChild(tempInput);
        tempInput.value = geoTagText;
        tempInput.select();
        tempInput.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the input
        document.execCommand('copy');

        // Remove the temporary input element
        document.body.removeChild(tempInput);

        
        const copyMessage = document.getElementById(messageId);
        copyMessage.textContent = 'Geotag copied to clipboard!';
        copyMessage.style.display = 'block';

        // Hide the message after 3 seconds
        setTimeout(() => {
            copyMessage.style.display = 'none';
        }, 3000);
    }


    // Get the modal
    var modal = document.getElementById('imageModal');
    var modalImg = document.getElementById("modalImage");

    // Get the images and attach click event
    var images = document.getElementsByClassName('clickable-image');
    for (var i = 0; i < images.length; i++) {
        images[i].onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // Zoom functionality
    var zoomLevel = 1;
    document.getElementById('zoomIn').onclick = function () {
        zoomLevel += 0.1;
        modalImg.style.transform = `scale(${zoomLevel})`;
    }

    document.getElementById('zoomOut').onclick = function () {
        if (zoomLevel > 0.1) {
            zoomLevel -= 0.1;
            modalImg.style.transform = `scale(${zoomLevel})`;
        }
    }
</script>



